[submodule "3rdparty/https:/github.com/mozilla/pdf.js"]
	path = 3rdparty/https:/github.com/mozilla/pdf.js
	url = https://github.com/instructure/pdf-annotate.js
[submodule "3rdparty/pdf-annotate.js"]
	path = 3rdparty/pdf-annotate.js
	url = https://github.com/instructure/pdf-annotate.js
[submodule "3rdparty/pdf.js"]
	path = 3rdparty/pdf.js
	url = https://github.com/mozilla/pdf.js
